<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXzCvksi33kK4wsftXgoxwR17kyBedckU</string>
	<key>GCM_SENDER_ID</key>
	<string>441708942878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lingobytesApp</string>
	<key>PROJECT_ID</key>
	<string>lingobytes-e63fc</string>
	<key>STORAGE_BUCKET</key>
	<string>lingobytes-e63fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441708942878:ios:f20fed3c95b8c57145c00f</string>
</dict>
</plist>